
{{!-- <div class="bg-light p-5 rounded-lg m-3">
  <img src="comida.png" alt="Controle de estoques" class="img-fluid">
</div>
<hr> --}}
<h2 class="p-2">Opções</h2>

{{#if user}}  
<div>
  <a class="p-2 nav-link active" href="/estoques">Entradas</a>  
  <a class="p-2 nav-link active" href="/retiradas">Retiradas</a>      
  <a class="p-2 nav-link active" href="/categorias">Categorias</a>    
  <a class="p-2 nav-link active" href="/produtos">Produtos</a>  
  <a class="p-2 nav-link active" href="/estatisticas">Estatísticas</a>  
  <a class="p-2 nav-link active" href="/users">Usuários</a> 
</div> 
{{else}}  
  <a class="nav-link active" href="/login">Faça login para usar</a>  
{{/if}} 